# Folders to exclude
.localdevserver/
.settings/
.sfdx/
.vscode/
coverage/
nebula-logger/main/default/
nebula-logger/managed-package/
.vim-force.com
tests/apex/

# NPM
node_modules/
package-lock.json
yarn.lock

# Files to exclude
*.log