# Folders to exclude
.localdevserver/
.settings/
.sf/
.sfdx/
.vscode/
docs/apex/Miscellaneous/
temp/
test-coverage/

# NPM
node_modules/
yarn.lock

# Files to exclude
*.log
**/lwc/jsconfig.json
.config
*.sfdx-hardis**.yml
