# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

# Folders to exclude
.localdevserver/
.settings/
.sf/
.sfdx/
.vscode/
temp/
test-coverage/

# NPM
node_modules/
package-lock.json
yarn.lock

# Files to exclude
*.log
*.xml

# Prism JS
# The CSS for Prism has specifically been modified for Nebula Logger (a bit), so it's NOT ignored.
# nebula-logger/core/main/log-management/staticresources/LoggerResources/prism.css
# The minified JS is taken as-is, so no need for prettier to format it.
nebula-logger/core/main/log-management/staticresources/LoggerResources/prism.js