.expanded {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  padding: 0;
  margin: 0;
}

.event-stream {
  background-color: #22272e;
  color: white;
  font-family: 'Lucida Console', 'Courier New', monospace;
  text-indent: -32px;
  padding-left: var(--slds-g-spacing-6, 32px);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column-reverse;
}

.event-stream-entry {
  font-family: 'Lucida Console', 'Courier New', monospace;
  margin: var(--slds-g-spacing-1, 4px) 0;
}

.timestamp {
  color: darkgrey;
  margin-right: var(--slds-g-spacing-2, 8px);
}

.logged-by {
  color: #45c65a;
  font-weight: var(--slds-g-font-weight-bold, bold);
  margin-right: var(--slds-g-spacing-2, 8px);
}

.origin {
  color: cornflowerblue;
  margin-right: var(--slds-g-spacing-2, 8px);
}

.logging-level {
  background-color: dimgray;
  color: white;
  margin-right: var(--slds-g-spacing-2, 8px);
  padding: var(--slds-g-spacing-1, 4px);
}

.main-container {
  display: flex;
  width: 100vw;
}
.event-stream-container {
  width: calc(100vw - 24rem);
}

.height-full {
  height: 100%;
}

.card-body {
  height: calc(100% - 70px);
}
